.header {
    float: left;
    width: calc(100% - 222px);
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    box-sizing: border-box;
}

    .header .header-select {
        width: 200px;
        border: none;
        font-size: 16px;
    }

    .header .header-infor {
        display: flex;
        align-items: center;
    }

        .header .header-infor .infor-avatar {
            width: 30px;
            height: 30px;
            background-image: url(/content/icon/avatar-default.png);
            background-size: contain;
            margin-right: 8px;
        }

        .header .header-infor .infor-name {
            font-size: 16px;
        }

        .header .header-infor .infor-option {
            width: 25px;
            height: 25px;
            background-image: url(/content/icon/option.png);
            background-size: contain;
            margin-left: 8px;
        }
